<!doctype html>
<html lang="en" style="margin: 0; padding: 0; background-color: #f3f6f9">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Logi Notification</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f3f6f9; font-family: Inter">
  <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #f3f6f9; padding: 20px 0">
    <tr>
      <td align="center">
        <table width="600" cellpadding="0" cellspacing="0" style="
              background-color: #ffffff;
              border-radius: 6px;
              overflow: hidden;
            ">
          <!-- Header -->
          <%- header %>

            <!-- Content -->
            <tr>
              <td style="padding: 30px; font-size: 15px; line-height: 1.6">
                <h2><strong>Hi <%= fullname %>,</strong></h2>

                <p>We noticed a new login to your KUBIK POS account.</p>

                <p style="margin: 20px 0 10px; font-weight: bolder">
                  <strong>Login Details</strong>
                </p>
                <p>
                  <strong>Date & Time:</strong><br />
                  <%= loginDateTime %>
                </p>
                <p>
                  <strong>Device:</strong><br />
                  <%= deviceType %> / <%= browser %>
                </p>
                <p>
                  <strong>Location:</strong><br />
                  <%= city %>, <%= country %>
                </p>

                <p>If this was you, no further action is needed.</p>

                <p>
                  If this wasn't you, we recommend changing your password
                  immediately to secure your account.
                </p>
              </td>
            </tr>

            <!-- Footer -->
            <%- footer %>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>