<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invoice Email</title>
  <style>
    @media only screen and (max-width: 600px) {
      .container {
        width: 100% !important;
        padding: 16px !important;
      }

      .content-padding {
        padding: 20px !important;
      }

      h2,
      h4,
      p,
      td,
      th {
        font-size: 14px !important;
      }

      .invoice-box table tr td,
      .invoice-box table tr th {
        padding: 6px 4px !important;
      }

      .text-center-mobile {
        text-align: center !important;
      }

      .logo {
        width: 100px !important;
        height: auto !important;
      }
    }
  </style>
</head>

<body style="margin: 0; padding: 0; font-family: Inter, sans-serif; background-color: #f3f6f9; color: #333;">
  <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #f3f6f9; padding: 20px 0;">
    <tr>
      <td align="center">
        <table class="container" width="600" cellpadding="0" cellspacing="0"
          style="background-color: #ffffff; border-radius: 6px; overflow: hidden; width: 600px; max-width: 100%;">

          <!-- //start: Header -->
          <tr>
            <td style="background-color: #16658a; padding: 20px">
              <!-- KUBIK Logo -->
              <img class="logo" src="<%= frontendUrl %>/app-logo.png" alt="KUBIK"
                style="display: block; object-fit: contain" />
            </td>
          </tr>
          <!-- //end: Header -->

          <!-- Invoice Content -->
          <tr>
            <td class="content-padding" style="padding: 30px; font-size: 14px; line-height: 1.6;">

              <h2 style="margin-top: 0;"><strong>Hi <%= name %>,</strong></h2>

              <% if (payment_status=='unpaid' ) { %>
                <!-- UNPAID -->
                <p>Thank you for your order at <b>
                    <!-- NOTE: Store Name -->
                    <% if (stores.length> 0) { %>
                      <%= stores.name %>
                        <% } %>
                  </b>!</p>
                <p>We’ve received your order, but payment has not been completed yet.</p>
                <% } else { %>
                  <!-- PAID -->
                  <p>Thank you for your purchase at
                    <b>
                      <% if (stores.length> 0) { %>
                        <%= stores.name %>
                          <% } else { %>
                            Store Name
                            <% } %>!
                    </b>
                  </p>
                  <p>Here are the details of your transaction:</p>
                  <% } %>
                    <div style="margin-top: 40px; border: 1px solid #D9D9D9; padding: 20px; border-radius: 6px;">
                      <h4 style="text-align: center; margin: 0 0 10px;">
                        <% if (stores.length> 0) { %>
                          <%= stores.name %>
                            <% } else { %>
                              Store Name
                              <% } %>
                      </h4>

                      <p style="text-align: center; margin: 0 0 10px;">
                        <!-- NOTE: Store Address -->
                        <% if (stores.length> 0) { %>
                          <%= stores.address %>
                            <% } else { %>
                              Lawson Kaliurang - Jl. Kaliurang KM 6, Blotan, <br>
                              Sukoharjo, Kec. Ngaglik, Kabupaten Sleman, Daerah <br>
                              Istimewa Yogyakarta
                              <% } %>
                      </p>

                      <div
                        style="width: 100%; font-family: monospace; font-size: 12px; text-align: center; margin-top:10px;">
                        <div style="width: 100%; border-top: 1px dashed #000; margin-bottom: 8px;"></div>
                        <table width="100%" style="border-collapse: collapse; font-size: 14px;">
                          <tr>
                            <% if (payment_status=='unpaid' ) { %>
                              <!-- UNPAID -->
                              <div
                                style="width: 100%; text-align: center; color: #E57171; font-weight: bold; font-size: 14px; margin-bottom: 10px;">
                                <%= payment_status %>
                              </div>
                              <% } else { %>
                                <!-- PAID -->
                                <td style="text-align: left;">
                                  <%= new Date(created_at).toLocaleDateString('id-ID') %>
                                    <%= new Date(created_at).toLocaleTimeString('id-ID', { hour: '2-digit' ,
                                      minute: '2-digit' }) %>
                                </td>
                                <td style=" text-align: right;">
                                  KASIR <%= invoice_number ?? 'Invoice Number' %>
                                </td>
                                <% } %>
                          </tr>
                        </table>
                        <div style="width: 100%; border-top: 1px dashed #000; margin-bottom: 8px;"></div>
                      </div>

                      <!-- Info Table -->
                      <table width="100%" style="margin-top: 20px; border-collapse: collapse; font-size: 14px;">
                        <tr>
                          <td>Cashier</td>
                          <td style="text-align: right;">
                            <%= users?.fullname || 'Cashier Name' %>
                          </td>
                        </tr>
                        <tr>
                          <td>Cust. Name</td>
                          <td style="text-align: right;">
                            <%= customer?.name || '-' %>
                          </td>
                        </tr>
                        <tr>
                          <td>Order Type</td>
                          <td style="text-align: right;">
                            <%= order_type.replace(/_/g, ' ' ).toUpperCase() %>
                          </td>
                        </tr>
                        <tr>
                          <td>Queue</td>
                          <td style="text-align: right;">[38]</td>
                        </tr>
                        <tr>
                          <td>Table No.</td>
                          <td style="text-align: right;">
                            <%= table_code || '-' %>
                          </td>
                        </tr>
                      </table>

                      <hr style="margin: 20px 0; border: none; border-top: 1px dashed #000;" />

                      <!-- Product List -->
                      <table width="100%" style="font-size: 14px;">
                        <thead>
                          <tr style="border-bottom: 1px dashed #000;">
                            <th align="left">Deskripsi</th>
                            <th align="center">Qty</th>
                            <th align="center">Harga</th>
                            <th align="right">Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let totalQty=0; %>
                            <% invoice_details.forEach(function(item) { const itemPrice=item.product_price ||
                              item.products?.discountPrice || item.products?.price || 0; const
                              variantPrice=item.variant?.price || 0; const qty=item.qty || 1; const
                              itemSubtotal=(itemPrice + variantPrice) * qty; totalQty +=qty; %>
                              <!-- Repeat for each item -->
                              <tr>
                                <td>
                                  <%= item.products.name %>
                                </td>
                                <td align="center">
                                  <%= qty %>
                                </td>
                                <td align="right">Rp <%= (itemPrice).toLocaleString('id-ID') %>
                                <td align="right">Rp <%= (itemPrice * qty).toLocaleString('id-ID') %>
                              </tr>
                              <!-- If has variant -->
                              <% if (item.variant) { %>
                                <tr>
                                  <td style="padding-left: 16px; font-style: italic; font-size: 12px;">
                                    <%= item.variant.name %>
                                  </td>
                                  <td align="center">
                                    <%= qty %>
                                  </td>
                                  <td align="right">Rp <%= (variantPrice).toLocaleString('id-ID') %>
                                  </td>
                                  <td align="right">Rp <%= (variantPrice * qty).toLocaleString('id-ID') %>
                                  </td>
                                </tr>
                                <% } %>
                                  <% }); %>
                        </tbody>
                      </table>

                      <hr style="margin: 20px 0; border: none; border-top: 1px solid #000;" />

                      <!-- Summary -->
                      <table width="100%" style="font-size: 14px;">
                        <tr>
                          <td>Sub Total</td>
                          <td align="">
                            <%= totalQty %>
                          </td>
                          <td align="right">
                            Rp <%= (subtotal).toLocaleString('id-ID') %>
                          </td>
                        </tr>
                        <tr>
                          <td>Promo</td>
                          <td></td>
                          <td align="right">-Rp <%= (discount_amount).toLocaleString('id-ID') %>
                          </td>
                        </tr>
                        <tr>
                          <td>PPN</td>
                          <td></td>
                          <td align="right">Rp <%= (tax_amount).toLocaleString('id-ID') %>
                          </td>
                        </tr>
                      </table>

                      <hr style="margin: 20px 0; border: none; border-top: 1px solid #000;" />

                      <!-- Total -->
                      <table width="100%" style="font-size: 14px;">
                        <tr style="font-weight: bold;">
                          <td>Total</td>
                          <td align="right">Rp <%= (grand_total).toLocaleString('id-ID') %>
                        </tr>
                      </table>

                      <hr style="margin: 20px 0; border: none; border-top: 1px dashed #000;" />

                      <table width="100%" style="font-size: 14px;">
                        <tr>
                          <td>Debit</td>
                          <td align="right">Rp0</td>
                        </tr>
                        <tr>
                          <td>Kembali</td>
                          <td align="right">Rp0</td>
                        </tr>
                      </table>

                      <hr style="margin: 20px 0; border: none; border-top: 1px dashed #000;" />

                      <!-- Social Media Info -->
                      <p style="text-align: center; font-size: 14px; margin-bottom: 10px;">
                        Social Media<br>
                        Instagram: @lawsonkal
                      </p>

                      <p style="text-align: center; font-size: 14px; margin-top: 10px;">
                        Terima kasih dan kami tunggu kedatangan Anda kembali
                      </p>
                    </div>


                    <div style="margin-top: 40px;">
                      <% if (payment_status=='unpaid' ) { %>
                        <!-- // NOTE: UNPAID -->
                        <p style="font-size: 14px; color: #000000; margin: 0 0 16px">
                          Please complete your payment at cashier to process your order.
                          If you have already made the payment or need help, feel free to contact us at <a href="#"
                            style="color: #16658a; text-decoration: none">
                            <% if (stores.length> 0) { %>
                              <%= stores.email %>
                                <% } %>
                          </a>
                        </p>
                        <p style="font-size: 14px; color: #000000; margin: 0 0 24px">
                          Thank You,<br />
                          <strong>
                            <% if (stores.length> 0) { %>
                              <%= stores.name %>
                                <% } %>
                          </strong>
                        </p>
                        <% } else { %>
                          <!-- // NOTE: PAID -->
                          <p style="font-size: 14px; color: #000000; margin: 0 0 16px">
                            If you have any questions about this inovice, feel free to contact us at
                            <% if (stores.length> 0) { %>
                              <%= stores.email %>
                                <% } else { %>
                                  Email Name
                                  <% } %>!.
                          </p>
                          <% } %>
                            <div style="width: 100%; display: flex; justify-content: center; align-items: center; ">
                              <span>Powered by <b>KUBIK POS</b></span>
                            </div>
                    </div>
            </td>
          </tr>

          <!-- //start: Footer -->
          <tr>
            <td style="padding: 40px; background-color: #f9fafc">
              <p style="font-size: 14px; color: #000000; margin: 0 0 16px">
                If you need any assistance, feel free to contact our support team
                <a href="#" style="color: #16658a; text-decoration: none">Contact us</a>
              </p>
              <p style="font-size: 14px; color: #000000; margin: 0 0 24px">
                Best,<br />
                <strong>KUBIK POS</strong>
              </p>

              <!-- Logo + Socials -->
              <table width="100%" style="margin-top: 10px">
                <tr>
                  <td align="left">
                    <img src="<%= frontendUrl %>/app-icon.png" alt="KUBIK Logo" width="24" />
                  </td>
                  <td align="right">
                    <a href="https://twitter.com" target="_blank" style="text-decoration: none">
                      <img src="<%= frontendUrl %>/twitter.png" alt="Twitter" width="24" style="margin: 0 6px" />
                    </a>
                    <a href="https://facebook.com" target="_blank" style="text-decoration: none">
                      <img src="<%= frontendUrl %>/facebook.png" alt="Facebook" width="24" style="margin: 0 6px" />
                    </a>
                    <a href="https://linkedin.com" target="_blank" style="text-decoration: none">
                      <img src="<%= frontendUrl %>/linkedin.png" alt="LinkedIn" width="24" style="margin: 0 6px" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- //end Footer -->
        </table>
      </td>
    </tr>
  </table>
</body>

</html>